<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    
    <include path="~/bootstrap/css/bootstrap.min.css" />
    <include path="~/plugins/jvectormap/jquery-jvectormap-1.2.2.css" />
    <include path="~/dist/css/AdminLTE.min.css" />
    <include path="~/dist/css/skins/_all-skins.min.css" />
    <include path="~/dist/css/skins/_all-skins.min.css" />
   
  </styleBundle>
</bundles>